<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Dating Website</title>
    <!-- Bootstrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost:5003/dating/styles/home_styles.css">
</head>
<body>
<div class="container">
    <div id="text-container">
        <h1>Your Dating Website</h1>
        <p>Welcome to the world's lease successful dating website. At <span>Your Dating Website</span> you will meet unlike
            minded
            individuals. We have the lowest success rate of couples on the web. User's are matched by neither interest
            nor
            location. Find out why so many other have found heartbreak on our site!</p>
        <h2>Hear what our users are saying about us.</h2>
        <div class="quotes">
            <blockquote class="blockquote text-center">
                <p class="mb-0">"I didn't meet anyone I was even remotely compatible with after only a month!"</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Aerdna</cite></footer>
            </blockquote>
            <blockquote class="blockquote text-center">
                <p class="mb-0">"It was so hard to set up a profile and start meeting people. I know there are many
                    other
                    people looking for love in my area but this site won't show any of them."</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Htims Nhoj</cite>
                </footer>
            </blockquote>
            <blockquote class="blockquote text-center">
                <p class="mb-0">"Just don't try it! You'll be exactly as sad and lonely as you are today!"</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Haras</cite></footer>
            </blockquote>
        </div>
        <div class="row button-row">
            <div class="col text-center">
                <button type="button" class="btn btn-danger text-center">Create a Profile.</button>
            </div>
        </div>
    </div>
    <div id="image-container">
        <img class="img-fluid rounded float-left" src="http://localhost:5003/dating/images/argument.jpg" alt="arguing couple">
    </div>
</div>
</body>
</html>