<!--

Interests page form for dating site user.

@author  Keller Flint
@date    1/26/2020

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Your Dating Website</title>
    <!-- Bootstrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/profile_form_styles.css">
    <link rel="stylesheet" href="styles/interest_styles.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/328/dating/">Your Dating Website</a>
    <!--Empty button link for now-->
    <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="container mt-3">
    <h1>Interests</h1>
    <form action="#" method="POST">
        <h5>In-door</h5>
        <div class="form-group mx-4">
            <repeat group="{{ @indoors }}" value="{{ @value }}">
                <div class="d-inline-block">
                    <check if="{{ isset(@indoor) && in_array(@value, @indoor) }}">
                        <true>
                            <input class="form-check-input" type="checkbox" value="{{ @value }}" id="{{ @value }}"
                                   name="indoor[]" checked>
                        </true>
                        <false>
                            <input class="form-check-input" type="checkbox" value="{{ @value }}" id="{{ @value }}"
                                   name="indoor[]">
                        </false>
                    </check>
                    <label class="form-check-label" for="{{ @value }}">
                        {{ @value }}
                    </label>
                </div>
            </repeat>
        </div>
        <h5>Out-door</h5>
        <div class="form-group mx-4">
            <repeat group="{{ @outdoors }}" value="{{ @value }}">
                <div class="d-inline-block">
                    <check if="{{ isset(@outdoor) && in_array(@value, @outdoor) }}">
                        <true>
                            <input class="form-check-input" type="checkbox" value="{{ @value }}" id="{{ @value }}"
                                   name="outdoor[]" checked>
                        </true>
                        <false>
                            <input class="form-check-input" type="checkbox" value="{{ @value }}" id="{{ @value }}"
                                   name="outdoor[]">
                        </false>
                    </check>
                    <label class="form-check-label" for="{{ @value }}">
                        {{ @value }}
                    </label>
                </div>
            </repeat>
        </div>
        <p>{{ @errors["interests"] }}</p>
        <button type="submit" class="btn btn-primary float-right">Next ></button>
    </form>
</div>
</body>
</html>