<!--

Create summary page for dating site user.

@author  Keller Flint
@date    1/26/2020

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Your Dating Website</title>
    <!-- Bootstrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/summary_styles.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/328/dating/">Your Dating Website</a>
    <!--Empty button link for now-->
    <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="container mt-3">
    <div class="row p-3">
        <div class="col-sm">
            <div class="row border p-3">Name: {{ @SESSION["member"]->getFname() }} {{ @SESSION["member"]->getLname()
                }}
            </div>
            <div class="row border p-3">Gender: {{ @SESSION["member"]->getGender() }}</div>
            <div class="row border p-3">Age: {{ @SESSION["member"]->getAge() }}</div>
            <div class="row border p-3">Phone: {{ @SESSION["member"]->getPhone() }}</div>
            <div class="row border p-3">Email: {{ @SESSION["member"]->getEmail() }}</div>
            <div class="row border p-3">State: {{ @SESSION["member"]->getState() }}</div>
            <div class="row border p-3">Seeking: {{ @SESSION["member"]->getSeeking() }}</div>
            <check if="{{ get_class(@SESSION['member']) == 'PremiumMember' }}">
                <div class="row border p-3">Interests: {{ @SESSION["member"]->getInDoorInterests() }} {{
                    @SESSION["member"]->getOutDoorInterests() }}
                </div>
            </check>

        </div>
        <div class="col-sm">
            <div class="row p-3">
                <img src="images/profile.PNG" alt="Default profile image">
            </div>
            <div class="row p-3">
                {{ @SESSION["member"]->getBio() }}
            </div>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary mx-auto">Contact me.</button>
    </div>

</div>
</body>
</html>