<!--

Create summary page for dating site user.

@author  Keller Flint
@date    1/26/2020

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Your Dating Website</title>
    <!-- Bootstrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/summary_styles.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/328/dating/">Your Dating Website</a>
    <!--Empty button link for now-->
    <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="container mt-3">
    <div class="row p-3">
        <div class="col-sm">
            <div class="row border p-3">Name: {{ @SESSION.first }} {{ @SESSION.last }}</div>
            <div class="row border p-3">Gender: {{ @SESSION.gender }}</div>
            <div class="row border p-3">Age: {{ @SESSION.age }}</div>
            <div class="row border p-3">Phone: {{ @SESSION.phone }}</div>
            <div class="row border p-3">Email: {{ @SESSION.email }}</div>
            <div class="row border p-3">State: {{ @SESSION.state }}</div>
            <div class="row border p-3">Seeking: {{ @SESSION.seeking }}</div>
            <div class="row border p-3">Interests: {{ @SESSION.interests }}</div>

        </div>
        <div class="col-sm">
            <div class="row p-3">
                <img src="images/profile.PNG" alt="Default profile image">
            </div>
            <div class="row p-3">
                {{ @SESSION.bio }}
            </div>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary mx-auto">Contact me.</button>
    </div>

</div>
</body>
</html>